.box {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fff;
  height: 200px;
  width: 200px;
  transition: var(--transform);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  &:hover {
    box-shadow: var(--base-box-shadow);
    border-color: var(--primary-color);
    background-color: var(--primary-color-light);
  }
}