@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --primary-color: #83bcfd;
  --primary-color-light: #e9eef5;
  --transform: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  --base-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 2px;
  --excel-green: #52C41A;
  --gray-lite: #f4f4f4;
  --gray: #9e9d9d;
  --danger-color: #ff4d4f;

  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--gray-lite);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transform: var(--transform);
  &:hover {
    opacity: 0.8;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  background-color:var(--gray);
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 0;
}
